@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.theme {
  &__container{
      margin: 0 auto;
      padding: 1rem;
      height: calc(100vh - 70px);
      background-color: lighten(color(orange), 20%)
  }

  &__theory{
    padding: 8rem 2rem 2rem 2rem;
    background-color:color(orange);
    overflow: auto;
    position: relative;
    border: 2px solid darken(color(orange), 20%);
    transform: translateY(-125px);
    height: 70%;
    text-align: justify;


    &::-webkit-scrollbar {
      width: 6px;
			height: 6px;
			border: none;
      background-color: darken(color(grey-light), 5%);

		}

		&::-webkit-scrollbar-thumb {
			border: none;
			background-color: color(grey);
			border-radius: 0.5rem;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: color(grey);
		}
  }

  &__image-img{
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 2px solid darken(color(orange), 20%);
      object-fit: contain;
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      position: relative;
      z-index: 5;
      background-color: lighten(color(primary-light), 20%); 
  }
}

.button{
  &__section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__container{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    align-items: center;
    position: relative;
    top: 50px;
    grid-template-columns: repeat(2,60%);
  }
  &__modal{
   top: 0; 
   display: grid;
   grid-gap: 10px;
   grid-auto-flow: column;

  }
}